body {
    font-size: 0.875rem; 
}
.nav-top-menu{
    padding-left: 30px;
}

.navbar-item:hover{
    color:red;
}

.form-container {
    max-width: 600px; 
    padding: 0 15px;
    margin: 0 auto;
    padding-bottom: 80px; 
    margin: auto;
}

.form-control,
.form-select {
    font-size: 0.875rem;
}

.form-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}



.form-section .border-bottom {
    padding-bottom: 0.5rem;
}

.submitbtn {
    margin-top: 1rem;
}


@media (max-width: 767.98px) {
    .mobile {
        display: block;
        background-color: #434040;
    }

    .desktop {
        display: none;
    }

    .mobile-menu {
        background-color: #434040;
    }
   
    #submitform.mobile {
        display: inline-block; 
    }
}

@media (min-width: 768px) {
    .desktop {
        display: inline-block; 
    }

    #submitform {
        display: none;
    }
}

.tooltips{
    border-color:#8f9393;
}

.newExpense{
    background-color: purple; 
    width: 60px; 
    height: 60px;
}

.icon-list{
    width:30px;
    display:flex; 
    justify-content:center; 
    align-items:center;
}
.container-fluid {
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
}

.form-section {
    padding-bottom: 0.5rem; 
    margin-bottom: 1rem; 
}

